*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background: url('../assets/bg-main-desktop.png');
        background-repeat: no-repeat;
    display: flex;
    height: 100vh;
}

.leftDiv {
    display: flex;
    flex: 1;
}

.frontCard {
    position: absolute;
    left: 10%;
    top: 15%;
}

.logoClass{
    position: absolute;
    right: 19.9rem;
    top: 30px;
}

.frontCardNumber, .frontCardName, .frontCardDate{
    color: white;
}

.frontCardNumber{
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 28px;
    letter-spacing: 5px;
}

.frontCardName{
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.frontCardDate{
    position: absolute;
    bottom: 30px;
    right: 50px;
}


.backCard{
    position: absolute;
    left: 15%;
    top: 45%;
}

.formDiv{
    display:grid;
    flex: 2;
    margin: 13rem 2rem 2rem 28rem;
    width: 18rem;
    height: 18rem;
}

.backCardNumber{
    color: white;
    position: absolute;
    bottom: 120px;
    right: 58px;
}

label {
    margin-left:10px;
}

input{
    width: 67%;
    /* display: block; */
    /* border: none; */
    margin: 10px 10px 24px 10px;
    padding: 10px;
}


input:hover{
    outline: none;
}

.cardDataInput{
    width: 15%;
}

.cardDataInputCVC{
    width: 22%;
}

button{
    margin: 20px 10px 10px 10px;
    padding: 16px;
    width: 67%;
    background-color: rgb(68, 21, 81);
    color: white;
}