*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background: url('../assets/bg-main-desktop.png');
        background-repeat: no-repeat;
    display: flex;
    height: 100vh;
}

.leftDiv {
    display: flex;
    flex: 1;
}

.frontCard {
    position: absolute;
    left: 10%;
    top: 15%;
}

.backCard{
    position: absolute;
    left: 15%;
    top: 45%;
}

.formDiv{
    flex: 2;
    margin: 13rem 2rem 2rem 28rem;
    width: 18rem;
    height: 30rem;
}

label {
    margin-left:10px;
}

input{
    width: 67%;
    /* display: block; */
    /* border: none; */
    margin: 10px;
    padding: 10px;
}


input:hover{
    outline: none;
}

.cardDataInput{
    width: 15%;
}

.cardDataInputCVC{
    width: 22%;
}

button{
    margin: 20px 10px 10px 10px;
    padding: 16px;
    width: 67%;
    background-color: rgb(68, 21, 81);
    color: white;
}